/* 
font-color:#333333,
main-color:#17633D,#EE7725,
18px = 1.125rem
12px = 0.75rem
*/

/* ------------------------------------header */
header {
    /* background-color:lightgoldenrodyellow; */
    /* box-shadow: 2px 3px 4px 5px red; */
    width: 1920px;
    margin:0 auto;
    display: flex;
    padding:0 300px;
    justify-content: space-between;
    align-items: center;
    position:relative;
    box-shadow: 0px 8px 6px -10px #666;
}
header h1 {width: 80px; height: 80px;}
header h1 a {}
header h1 a img {width: 100%;}
/* nav----------------------------- */
header nav {}
header nav .gnb {
    display: flex;
}
header nav .gnb li {}
header nav .gnb li:hover > .title {color:#17633D;}
header nav .gnb > li:hover .lnb_bg {
    transition: height 0.5s ease;
    z-index: 10;
}
header nav .gnb li:last-child {margin-right:0;}
header nav .gnb li > .title {
    display: inline-block;padding:40px 40px;
    font-size:1.125rem; color:#333333;
}
header nav .gnb li .lnb_bg {
    width: 100%;
    background-color: #17633D;
    position:absolute; top:100px; right:0;
    overflow: hidden;
}
header nav .gnb li .lnb_bg * {}
header nav .gnb li .lnb_bg .lnb {
    width:max-content; margin:0 auto;
    padding:16px 0; 
    display: flex;
    text-align:center;
}
header nav .gnb li .lnb_bg .lnb li {margin-right:100px;}
header nav .gnb li .lnb_bg .lnb li:last-child {margin-right:0;}
header nav .gnb li .lnb_bg .lnb li a {color:#fff;}
/* .import-------------------------- */
header .import {
    border:1px solid #17633D;
    border-radius: 50px;
}
header .import a {
    display: inline-block;
    width: 187px;height: 39px;
    color:#17633D;
    text-align: center;
    line-height: 39px;
}
header .import img {vertical-align: middle;}

/* -----------------------------------footer */
footer {
    background-color: #222222;
    width: 100%;
    min-width: 1120px;
    height:355px;
    display: flex;
    justify-content: space-around;
    padding-top:100px;
    margin:0 auto;
}
footer .footer_wrap {
    /* background-color: yellow; */
    width: 682px;
    height: 155px;
    /* margin:0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer_wrap .btm_logo {}
footer .footer_wrap .btm_logo  a {width: 100px; height: 100px; display: inline-block;}
footer .footer_wrap .btm_logo  a img {width: 100%;}
footer .footer_wrap .btm_notice {
    display: flex;
    flex-flow: column nowrap;
    gap:20px;
}
footer .footer_wrap .btm_notice a {font-size: 0.75rem; color:#fff;}
footer .footer_wrap address {}
footer .footer_wrap address p {font-size: 0.75rem; color:#fff;}
footer .footer_wrap address p:nth-child(1) {}
footer .footer_wrap address p:nth-child(2) {margin:10px 0;}
footer .footer_wrap address p:nth-child(3) {}
footer .btm_sns {
    height: 155px;
    display: flex;
    /* background-color: wheat; */
}
footer .btm_sns a {width: 30px; height: 30px; display: block;}
footer .btm_sns a:nth-child(2) {margin:0 20px;}
footer .btm_sns a img {width: 100%;}