/* 
color:#17633D,#EE7725,#333333
14px = 0.875rem
18px = 1.125rem
20px = 1.25rem
25px = 1.563rem
40px = 2.5rem
50px= 3.125rme

*/


body {
    min-width: 1920px;
    overflow-x: hidden;
}
/* 메인배너 ------------- */
main #bnr {}
main #bnr .swiper {width: 1920px; height: 600px; margin:0 auto; position: relative;}
main #bnr .swiper .swiper-wrapper {
    background-size:cover ;
    background-position:center;
    background-repeat:no-repeat;
}
main #bnr .swiper .swiper-wrapper .swiper-slide {}
main #bnr .swiper .swiper-wrapper .slide1 {background-image:url(../images/bnr_1.png);}
main #bnr .swiper .swiper-wrapper .slide2 {background-image:url(../images/bnr_2.png);}
main #bnr .swiper .swiper-wrapper .slide3 {background-image:url(../images/bnr_3.png);}
main #bnr .swiper .swiper-wrapper .slide4 {background-image:url(../images/bnr_4.png);}

/* main 2 추천메뉴 ------------- */
main #main_1 {
    width: 1920px;
    height: 800px;
    margin: 0 auto;
    /* background-color: wheat; */
}
main #main_1 .main1_wrap {
    width: 1320px;
    margin:0 auto;
    display: flex;
    padding-top:180px;
    position:relative;
}
main #main_1 .main1_wrap .main_title {}
main #main_1 .main1_wrap .main_title h2 {font-size:2.5rem; font-weight: 600;color: #222;line-height: 1.2;}
main #main_1 .main1_wrap .main_title p {font-size:0.875rem; line-height: 1.5;margin:40px 0 140px 0;}
main #main_1 .main1_wrap .main_title a {font-size:0.875rem; color:#fff;background-color: #17633D; padding:15px 30px; border-radius:5px;}
main #main_1 .main1_wrap .main_title a:hover {filter:brightness(1.3);}
main #main_1 .main1_wrap .menuSwiper {}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper {
    width: 873px;
}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .swiper-slide {
    /* background-color: yellow; */
    border: 1px solid #eee;
    border-radius: 5px;
    width: 271px; height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .swiper-slide:hover {
    border: 1px solid #61ca95;
}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .swiper-slide p {
    text-align: center;
    line-height: 730px;
    color:#222;
}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .slide1 {background-image: url(../images/menu_001.jpg);}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .slide2 {background-image: url(../images/menu_002.jpg);}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .slide3 {background-image: url(../images/menu_003.jpg);}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .slide4 {background-image: url(../images/menu_004.jpg);}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .slide5 {background-image: url(../images/menu_005.jpg);}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .slide6 {background-image: url(../images/menu_006.jpg);}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .slide7 {background-image: url(../images/menu_007.jpg);}
main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .slide8 {background-image: url(../images/menu_008.jpg);}
main #main_1 .main1_wrap .swiper-button-next {
    top:430px;left:50px;
    width:30px;height: 30px;
    display: block;
    /* background-color: violet; */
}
main #main_1 .main1_wrap .swiper-button-next img {width: 100%; opacity: 0.5;}
main #main_1 .main1_wrap .swiper-button-next::after {display: none;}
main #main_1 .main1_wrap .swiper-button-prev {
    top:430px;left:0;
    display: block;
    width:30px;height: 30px;
    /* background-color: aqua; */
}
main #main_1 .main1_wrap .swiper-button-prev img {width: 100%;transform: scale(-1, 1);opacity: 0.5;}
main #main_1 .main1_wrap .swiper-button-prev::after {display: none;}

/* main 3 샐러디메뉴 ------------- */
main #main_2 {
    /* background-color: wheat; */
    width: 1920px;
    margin: 0 auto;
    height: 688px;
    display: flex;
    padding:137px 300px;
    justify-content: space-between;
}
main #main_2 h2 {font-size: 2.5rem; font-weight:600;}
main #main_2 .menu_wrap {}
main #main_2 .menu_wrap .menu_container {
    display:flex;
    gap:40px;
    position: relative;
    margin-top:20px;
}
main #main_2 .menu_wrap .menu_container > li {}
main #main_2 .menu_wrap .menu_container li a {
    font-size: 1.25rem; 
    color:#AFAFAF;
    transition:all 0.5s;
}
main #main_2 .menu_wrap .menu_container li .active {
    color:#17633D;
    font-weight: 600;
}
main #main_2 .menu_wrap .menu_container li .menu_bg {
    width: 1320px;
    position:absolute; top:100px; right:0;
    display: none;
}
main #main_2 .menu_wrap .menu_container li:first-child .show {display: block;}
main #main_2 .menu_wrap .menu_container li .menu_bg .menu_item {
    display:flex; gap:53px;
}
main #main_2 .menu_wrap .menu_container li .menu_bg .menu_item li {}
main #main_2 .menu_wrap .menu_container li .menu_bg .menu_item li .info {
    width: 300px; height: 300px; display: inline-block;
    position:relative;
}
main #main_2 .menu_wrap .menu_container li .menu_bg .menu_item li .info img {width: 100%;}
main #main_2 .menu_wrap .menu_container li .menu_bg .menu_item li .info > span {
    position:absolute; top:0; right:0;
    width:300px; height: 300px;
    text-align: center;
    background: #17633D;
    padding:120px 0 0 0;
    opacity: 0;
    transition:all 0.5s;
}
main #main_2 .menu_wrap .menu_container li .menu_bg .menu_item li .info:hover span {opacity:1;border-radius: 50%;}
main #main_2 .menu_wrap .menu_container li .menu_bg .menu_item li .info > span span{
    display:block;
    color:#fff;
    margin:10px 0;
}
/* main 4 샐러디 스토리 & 샐러디 친환경 캠페인 ------------- */
main #subbnr1 {
    width: 1920px;
    display:flex;
    margin: 0 auto;
}
main #subbnr1 .story_left {width: 960px; height:360px;}
main #subbnr1 .story_left a {}
main #subbnr1 .story_left a img {}
main #subbnr1 .story_right {width: 960px; height:360px;}
main #subbnr1 .story_right a {}
main #subbnr1 .story_right a img {}
/* mian 5 샐러디 뉴스 ------------- */
main #news {
    width: 1920px; 
    height: 854px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: wheat; */
}
main #news .news_left {}
main #news .news_left h2 {font-size:2.5rem;font-weight: 600;margin-bottom:80px;}
main #news .news_left a {font-size: 1.25rem; background-color:#17633D;padding:15px 30px;border-radius:10px;color:#fff;}
main #news .news_right {}
main #news .news_right .contents_wrap {}
main #news .news_right .contents_wrap li {
    width: 650px; height: 228px;
    background-color:#fff;
    border-bottom: 1px solid #17633D;
    padding:50px 0 0 30px;
}
main #news .news_right .contents_wrap li a {}
main #news .news_right .contents_wrap li a:hover p {color: #17633D;}
main #news .news_right .contents_wrap li a span {font-size: 1.25rem; color: #17633D;}
main #news .news_right .contents_wrap li a p {font-size: 1.563rem; font-weight: 600; margin:20px 0;}
main #news .news_right .contents_wrap li a .date {font-size: 1.25rem; font-weight: 400;}
/* 띠배너 ------------- */
main #txt {
    /* background-color: yellow; */
}
main #txt .txt_bg_ani {
    width:100%; height:56px;
    background:url(../images/band.png) repeat-x;
    animation: txt_ani 20s linear infinite;
}

@keyframes txt_ani {
    0% {background-position-x:0;}
    100% {background-position-x:-1000px;}
}
/* main 6 브랜드 스토리 ------------- */
main #brand {width: 1920px; margin:150px auto;}
main #brand .brand_story_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
main #brand .brand_story_wrap .brand_left {margin:100px 244px 0 0;}
main #brand .brand_story_wrap .brand_left h3 {font-size: 3.125rem;}
main #brand .brand_story_wrap .brand_left h3 em {font-weight: 600;}
main #brand .brand_story_wrap .brand_left p {margin:50px 0;}
main #brand .brand_story_wrap .brand_left a {
    background-color: #17633D;
    display: inline-block;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
}
main #brand .brand_story_wrap .brand_left a:hover {filter: brightness(1.2);}
main #brand .brand_story_wrap .brand_right {
    width: 660px; height: 500px;
    background:url(../images/brand_story.png) no-repeat center / cover;
}
main #brand .franchise_wrap {
    display: flex;
    justify-content: center;
}
main #brand .franchise_wrap .franchise_left {
    width: 660px; height: 500px;
    background:url(../images/Franchise_story.png) no-repeat center / cover;
}
main #brand .franchise_wrap .franchise_right {
    margin:100px 0 0 300px;
    text-align: right;
}
main #brand .franchise_wrap .franchise_right h3 {font-size: 3.125rem;}
main #brand .franchise_wrap .franchise_right h3 em {font-weight: 600;}
main #brand .franchise_wrap .franchise_right p {margin:50px 0; line-height: 1.5;}
main #brand .franchise_wrap .franchise_right a {
    background-color: #EE7725;
    display: inline-block;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
}
main #brand .franchise_wrap .franchise_right a:hover {filter: brightness(1.2);}
/* 매장찾기 ------------- */
main #map {
    width: 100%; margin: 0 auto;
    height: 438px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/mapn.png);
}
main #map .map_wrap {text-align: center;}
main #map .map_wrap .map_title {font-size:3.125rem; color:#fff; font-weight: 600;}
main #map .map_wrap p {font-size: 1.25rem; color:#fff;margin:50px 0;}
main #map .map_wrap a {
    background-color: #fff;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 50px;
    border: 1px solid transparent;
}
main #map .map_wrap a:hover {
    background-color: #17633D;
    border: 1px solid #fff;
    color:#fff;
    transition: all 0.5s;
}
/* 인스타그램 ------------- */
main #insta {
    width: 1320px;
    margin: 100px auto;
    /* background-color: wheat; */
}
main #insta .insta_top {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
main #insta .insta_top h2 {font-size: 2.5rem;}
main #insta .insta_top a {
    font-size: 1.125rem;
    width:100px; height: 15px;
    /* background-color: yellow; */
    display: flex;
    justify-content:space-between;
}
main #insta .insta_top a img {height:100%;}
main #insta .insta_btm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
main #insta .insta_btm a {
    width: 300px; height: 300px;
    margin-top:50px; overflow: hidden;
    border-radius: 15px;
}
main #insta .insta_btm a:hover img {animation:insta_ani 0.3s linear both;}

@keyframes insta_ani {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
}
/* 하단 서브배너 ------------- */
main #subbnr2 {
    /* background-color: wheat; */
    width: 1320px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main #subbnr2 .app_left {}
main #subbnr2 .app_left a {width:650px; height: 350px; display: inline-block;}
main #subbnr2 .app_left a img {}
main #subbnr2 .ask_right {}
main #subbnr2 .ask_right a {width:650px; height: 350px; display: inline-block;}
main #subbnr2 .ask_right a img {}
