/* 태블릿 */
@media (max-width: 1024px) {
    /* header */
    main {overflow-x: hidden;}
    header {
        /* background-color: wheat; */
        width: 100%;
        justify-content:center;
        margin:0 auto;
        padding:0;
    }
    header nav .gnb {margin:0 60px;}
    header nav .gnb li > .title {
        padding:35px 10px;
        width: max-content; 
    }
    /* 메인배너======= */
    main #bnr {height:350px;}
    main #bnr .swiper {height:100%;}
    main #bnr .swiper .swiper-wrapper .swiper-slide {}
    main #bnr .swiper .swiper-wrapper .slide1 {background-image:url(../images/bnr_1.png);}
    main #bnr .swiper .swiper-wrapper .slide2 {background-image:url(../images/bnr_2.png);}
    main #bnr .swiper .swiper-wrapper .slide3 {background-image:url(../images/bnr_3.png);}
    main #bnr .swiper .swiper-wrapper .slide4 {background-image:url(../images/bnr_4.png);}
    /* 추천메뉴 */
    main #main_1 .main1_wrap {
        /* background-color: yellow; */
        width: 100%;
        height: 80vh;
        display: block;
        text-align: center;
    }
    main #main_1 .main1_wrap .menuSwiper .swiper-wrapper  {
        margin:50px 0;
    }
    main #main_1 .main1_wrap .menuSwiper .swiper-wrapper .swiper-slide p {display: none;}
    main #main_1 .main1_wrap .main_title a {display: none;}
    main #main_1 .main1_wrap .main_title p {display:none;}
    main #main_1 .main1_wrap .swiper-button-next {display: none;}
    main #main_1 .main1_wrap .swiper-button-prev {display: none}
    /* 샐러디 메뉴 */
    main #main_2 {display: none;}
    /* 브랜드스토리 */
    main #brand {width: 100%;}
    main #brand .brand_story_wrap {margin-bottom:0;justify-content:space-between;}
    main #brand .brand_story_wrap .brand_left {margin:50px 0 0 20px;}
    main #brand .brand_story_wrap .brand_right {width: 500px; height:500px;}
    main #brand .franchise_wrap {justify-content:space-between;}
    main #brand .franchise_wrap .franchise_left {width: 500px; height: 500px;}
    main #brand .franchise_wrap .franchise_right {margin:50px 20px 0 0;}
    /* 인스타 */
    main #insta {width: 100%;}
    main #insta .insta_top {margin:0 50px;}
    main #insta .insta_btm a:nth-child(7) {display:none;}
    main #insta .insta_btm a:nth-child(8) {display:none;}
    main #insta .insta_btm a:nth-child(9) {display: none;}
    main #subbnr1 {}
    main #subbnr2 {display: none;}
    main #news {display: none;}
    main #txt {display: none;}
}

/* 모바일 */
@media (max-width: 768px) {

}